body {
  background-color: #3B3C3D;
  color: white;
  font-family: 'Roboto Slab', 'serif';
  overflow-x: hidden;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imgs/Technology-Wallpaper.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -5;
}

.container-center {
  padding: 0;
}

button {
  background-color: none;
  background: none;
  border: none;
  font-size: 16pt;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  color: whitesmoke;
}

#nav-display-horizontal {
  width: 100vw;
  background-color: #181E26EE;
  z-index: 100;
}

#nav-display-vertical {
  width: 16.2%;
  background-color: #181E26EE;
}

.nav-link {
  text-align: end;
  width: 100%;
  margin: 15px 0;
  border-bottom: 1px solid;
}

#nav-display-horizontal .navbar-nav {
  flex-direction: row;
  justify-content: space-evenly;
}

#nav-display-vertical .nav-link.active {
  color: white;
  border-bottom: 1px solid white;
}

#top {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  color: whitesmoke;
  overflow: hidden;
}

#about {
  color: #181E26;
  background-color: #556273EE;
}

#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills {
  color: #181E26;
  background-color: #798088EE;
}

#projects {
  background-color: #2A3340EE;
}

#contact {
  padding: 20px;
  color: #F2F2F2;
  background-color: #556273FF;
}

.about-pic {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  .about-pic {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  #me {
    padding: 0 5%;
  }

  .about-pic {
    width: 35%;
    margin-bottom: 20px;
  }
}

.accordion {
  width: 70%;
}

@media (max-width: 576px) {
  .accordion {
    width: 100%;
  }
}

.language-pic {
  font-size: 48pt;
}

@media (max-width: 992px) {
  #top {
    height: 90vh;
  }

  .language-pic {
    font-size: 24pt;
  }
}

.carousel-inner {
  padding: 60px 20%;
}

@media (max-width: 992px) {
  .carousel-inner {
    padding: 60px 12%;
  }
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon {
  filter: none;
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236298e7'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236298e7'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: #6298e7;
}

.project-languages {
  background-color: #6298e7;
  color: black;
  border-radius: 15px;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3B3C3D;
  overflow-x: hidden;
}

button {
  background-color: none;
  background: none;
  border: none;
  font-size: 16pt;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  color: whitesmoke;
}

.section-title {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

#top {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('imgs/background.jpeg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 50px;
}

nav {
  height: 50px;
  width: 85vw;
  position: sticky;
  top: 15px;
  background-color: #475B70;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 50px;
  z-index: 1;
  box-shadow: 0px 0px 7px 1px black;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 24pt;
}

#about {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: radial-gradient(ellipse 75% 95%, #EBEBEB 70%, #5C5C5C);
  padding: 60px 0px 35px;
}

.larger-font {
  font-size: 18pt;
}

ul {
  padding-left: 35px;
  font-size: 16pt;
}

#skills {
  height: 40vh;
  width: 100vw;
  position: relative;
  padding: 0px 5vw;
  color: whitesmoke;
}

#projects {
  height: 85vh;
  width: 100vw;
  position: relative;
  background-image: radial-gradient(ellipse 75% 95%, #EBEBEB 70%, #5C5C5C);
}

#projects-display {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  height: 75%;
  width: 450px;
  background-color: #475B70;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 25px;
}

.project-title {
  font-size: 18pt;
  text-decoration: underline;
}

.project-pics {
  width: 75%;
}

.project-desc {
  width: 85%;
}

.project-links {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link-btn {
  text-decoration: none;
  background-color: #3181D6;
  box-shadow: 0 0 6px 2px;
  padding: 10px 13px;
}

#contact {
  height: 30vh;
  width: 100vw;
  position: relative;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0px 0px;
}

#contact-desc {
  width: 45%;
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
}

#contact-links {
  height: 65%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */